.main-container {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 16px;
color: black;
max-width: 1200px;
color: #322C2B;
}

.card-wrapper {
    display: flex;
}

.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.card {
    border: 2px solid #322C2B;
    width: 320px;
}