.main-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  max-width: 1600px;
  color: #322c2b;

  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card {
  position: relative;
  border: 2px solid #322c2b;
  width: 440px;
  background-color: #ececec;
}

.card__title {
  border-left: 2px solid #322c2b;
  border-bottom: 2px solid #322c2b;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  text-align: center;
  height: 36px;
  padding: 4px;
}

.card__discription {
  margin-top: 64px;
  padding-left: 12px;
}

#chicken {
  font-size: 24px;
  background-color: pink;
}

#beef {
  font-size: 24px;
  background-color: red;
  color: white;
}

#sushi {
  font-size: 24px;
  background-color: yellow;
}
